# MongoDB Connection String (Local or MongoDB Atlas Cloud)
# Example Atlas: mongodb+srv://<username>:<password>@cluster0.mongodb.net/finote_teguhan?retryWrites=true&w=majority
MONGODB_URI=mongodb://127.0.0.1:27017/finote_teguhan

# Backend Server Port
PORT=5000
